.offcanvas-header {
    box-shadow: 0px 0px 10px grey;
    height: 12vh ;
}

.offcanvas {
    box-shadow: 0px 0px 20px grey;
    width: 20rem !important;
}

.profileCard {
    /* box-shadow: 0px 0px 20px grey !important; */
    padding: 1rem;
}

.btnContainerMenu{
    /* box-shadow: 0px 0px 20px grey !important; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    transition: .5s;
}

.btnContainerMenu:hover{
    box-shadow: 0px 0px 20px orange !important;
    border-radius: 10px;
    background-color: orange;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    transition: .5s;
}

.hrContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.hr {
    box-shadow: 0px 0px 20px grey !important;
    width: 80%;
}

.imgProfile {
    width: 130; 
    height: 130;
}